@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

body
{
    background-color: rgba(0,0,0,0.75);
    font-family: Kalam;
}
.login-form
{
    background-color: white;
    border-radius: 0 20px 20px 0;
}
.login-img
{
    border-radius: 20px 0 0 20px;
}
.form-link
{
    color: rgba(0,0,0,0.5);
    text-decoration: none;
}
.form-link:hover
{
    color: rgba(0,0,0,0.9);
}
.login-btn
{
    background-color: black;
    color: white;
    text-align: center;
    border: 2px solid transparent;
    outline: none;
    width: 175px;
    font-weight: 500;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.login-btn:hover
{
    background-color: white;
    border: 2px solid black;
    font-weight: bold;
    color: black;
    transition-duration: 0.4s;
}