@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

body
{
    background-image: url('/static/images/signupimg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.signup-form
{
    background-color: rgba(255,255,255,0.5);
    color: black;
    border-radius: 15px;
    font-family: Kalam;
}

.signup-btn
{
    background-color: black;
    color: white;
    text-align: center;
    border: 2px solid black;
    outline: none;
    width: 175px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
}
.signup-btn:hover
{
    background-color: transparent;
    color: black;
    border: 2px solid black;
    font-weight: bold;
    transition-duration: 0.4s;
}